@import '../../variables/variables.scss';

.country {
  max-width: 1440px;
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
  
  .country__info-wrapper {
    max-width: 1440px;
    margin: 3em;
    display: flex;

    @media screen and (max-width: $laptop) {
      max-width: 768px;
      margin: 40px 0 0;
      flex-direction: column;
    }

    .country__spinner {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin: 50px auto 0;

      &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: 10px solid var(--text);
        border-color: var(--text) transparent var(--text) transparent;
        animation: spin .4s ease-in-out infinite;
        @keyframes spin {
          from {
            transform: rotate(0deg);
          } to {
            transform: rotate(360deg);
          }
        }
      }
    }

    .country__image { 
      width: 520px;
      height: 340px;
      object-fit: fill;

      @media screen and (max-width: $laptop) {
        width: 440px;
        height: 280px;
        margin: 0 30px;
      }
      @media screen and (max-width: $tablet) {
        width: 320px;
        height: 220px;
      }
    }

    .country__main-wrapper {
      margin: 0 100px 0;

      @media screen and (max-width: $laptop) {
        margin: 40px 30px;
      }

      .country__title {
        margin: 0;
        color: var(--text);
        @include title;

        @media screen and (max-width: $laptop) {
          margin: 0 0 10px;
        }
      }
      .country__text {
        margin: .1em 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        color: var(--text);

        @media screen and (max-width: $laptop) {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .country__text_border {
        @media screen and (max-width: $laptop) {
          margin: .5em;
          font-size: 18px;
          line-height: 20px;
        }
      }
      .country__text-wrapper {
        height: 140px;
        width: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1.5em 0;

        @media screen and (max-width: $laptop) {
          width: 400px;
          height: 200px;
          margin: 0;
        }
        @media screen and (max-width: $tablet) {
          width: 320px;
        }
      }
      .country__border-countries {
        display: flex;
        align-items: center;

        @media screen and (max-width: $laptop) {
          flex-direction: column;
          align-items: flex-start;
        }

        .border-countries__list {
          width: 400px;
          margin-left: 20px;
          list-style: none;
          display: flex;
          flex-wrap: wrap;

          @media screen and (max-width: $laptop) {
            width: 340px;
            margin-left: 0;
          }

          .border-countries__item {
            padding: .5em;
            margin: .25em;
            color: var(--text);
            background-color: var(--element-bg);
            @include outline;

            @media screen and (max-width: $laptop) {
              min-width: 100px;
              display: flex;
              justify-content: center;
              font-size: 14px;
              line-height: 14px;
              padding: .5em;
              margin: .25em;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      
    }
  }

  .country__button-back {
    margin: 3em 6em 0;
    padding: 1em;
    width: 140px;
    border: none;
    color: var(--text);
    box-shadow: 0px 0px 6px var(--shadow);
    background-color: var(--element-bg);
    @include outline;

    @media screen and (max-width: $laptop) {
      max-width: 768px;
      margin: 40px 30px 0;
    }

    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}